<section class='event-list'>

  <%= render 'recent_slider' %>

  <% if !@togglesInactive %>
    <div class='fav-container'>
      <%= render 'favs' %>
    </div>
  <% else %>
    <div class='fav-container'></div>
  <% end %>

  <%= render 'filter' %>

  <%= render 'list_wrapper' %>

  <%= render 'no_match' %>
    
</section>