<section class='event-list'>

  <% @dates.each do |date| %>
    <div class='day'>
      <%= DateTime.parse(date).strftime('%a, %b %d') %>
    </div>

    <% @eventsNYC.each do |event| %>
      <% if event.date == date %>
        <div class='event'>

          <div class='event-title'>
            <%= event.title %>
          </div>

          <div class='event-details'>
            <span>
              <%= event.venue %>
            </span>
            <span>
              &nbsp;-&nbsp;
            </span>
            <span>
              <%= event.location %>
            </span>
            <span>
              <%= event.ages %>
            </span>
          </div>

          <div class='event-more hide'>
            <div class='event-links'>
              <span>
                Event Website
              </span>
              <span>
                Venue Map
              </span>
            </div>
            <% event.artists.each do |artist| %>
              <div class='soundcloud-links'>
                <span>
                  <%= artist.name %>
                </span>
                <span>
                  SoundCloud
                </span>
              </div>
            <% end %>
            <div class='hotel-links'>
              <span>
                Hotels & Airbnbs
              </span>
              <span>
                Share
              </span>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>

  <% end %>

</section>