<!-- Only show filter bar if at least 1 location is active and and an event exists -->

<% if !@togglesInactive && @events.length > 0 %>

  <div class='list-wrapper'>

    <% @dates.each do |date| %>
      <div class='day'>
        <%= DateTime.parse(date).strftime('%a, %b %d') %>
      </div>

      <% @events.each do |event| %>
        <% if event.date == date %>
          <div id='<%= event.id %>' class='event' data-date='<%= DateTime.parse(date).strftime('%b %d') %>' >

            <div class='event-pic'></div>

            <div class='event-title'>
              <% stringArtists = '' %>
              <% event.artists.each do |artist| %>
                <% if !event.title.include? artist.name %>
                  <% stringArtists += artist.name + ', ' %>
                <% end %>
              <% end %>

              <% if stringArtists.length > 0 %>
                <%= (event.title + ': ' + stringArtists)[0..-3] %>
              <% else %>
                <%= event.title %>
              <% end %>
            </div>

            <div class='event-details'>
              <span>
                <%= event.venue %>
              </span
              ><span>
                &nbsp;-&nbsp;
              </span
              ><span>
                <%= event.location %>
              </span>
              <% if event.ages %>
                <span class='event-ages'>
                  <%= event.ages %>
                </span>
              <% end %>
            </div>

  <!-- Favorite button -->
            
            <% if @eventFavs.include? event %>

              <% if @eventNew.include? event %>
                <div class='arrow-link new hide'>
                  new
                </div>
              <% else %>
                <div class='arrow-link arrow hide'>
                </div>
              <% end %>

              <form class='favorite-wrapper' action='/events' method='new' data-remote='true'>
                <input type='hidden' name='eventID' value='<%= event.id %>'>
                <input type='submit' class='favorite saved' value=''>
              </form>

            <% else %>

              <% if @eventNew.include? event %>
                <div class='arrow-link new'>
                  new
                </div>
              <% else %>
                <div class='arrow-link arrow'>
                </div>
              <% end %>

              <form class='favorite-wrapper hide' action='/events' method='new' data-remote='true'>
                <input type='hidden' name='eventID' value='<%= event.id %>'>
                <input type='submit' class='favorite' value=''>
              </form>

            <% end %>

  <!-- Event More Details -->           

            <div class='event-more hide'>

              <div class='event-links'>
                <a href='<%= event.ticketLink %>' target='_blank' rel='noopener noreferrer' class='event-website'>
                  Event Website
                </a
                ><a href='https://maps.google.com/?q=<%= event.address %>' target='_blank' rel='noopener noreferrer' class='event-map'>
                  Venue Map
                </a>
              </div>

              <% event.artists.each do |artist| %>
                <div class='soundcloud-links'>
                  <a href='/tours?artist=<%= artist.id %>' class='soundcloud-artist' data-remote=true>
                    <%= artist.name %>
                  </a
                  ><a class='soundcloud-link'>
                    <span class='scIcon'></span>
                    SoundCloud
                  </a>
                </div>
              <% end %>

              <div class='hotel-links'>
                <a class='airbnb-link'>
                  Hotels & Airbnbs
                </a
                ><a class='airbnb-share'>
                  <span class='shareIcon'></span>
                  Share
                </a>
              </div>

            </div>

          </div>
        <% end %>
      <% end %>

    <% end %>

  </div>

<% end %>